
@{
    ViewBag.Title = "Index";
}

<h2>Contactez nous</h2>
@using (Html.BeginForm("EnvoyerEmail", "Contact", FormMethod.Post))
{
    @Html.Label("Nom");<br />
    @Html.TextBox("nom");<br />
    @Html.Label("Email");<br />
    @Html.TextBox("email");<br />
    @Html.Label("Message");<br />
    @Html.TextBox("message");<br />

    <input type="submit" placeholder="submit" />


}